<!DOCTYPE html>
<html lang="en">
<head>
  <title>Insert Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Include Bootstrap and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <!-- Include Bootstrap-datepicker CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  
    <!-- Initialize datepicker -->
    <script>
      $(document).ready(function(){
        $('.datepicker').datepicker({
          format: 'dd-mm-yyyy',  // Change the format to match your requirements
          autoclose: true
        });
      });
    </script>
</head>
<body>

<div class="container">
  <h1 class="jumbotron bg-primary">Insert Data into Database</h1>
  <br><br>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
       <h3> <li class="alert alert-{{ category }}">{{ message }}</li></h3>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %} <br><br>
  <form class="form-horizontal" action="/insert" method="post">
    <lable> ID Card Number</lable>
    <input type="text" name="id_card_number" value="{{ data.id_card_number if data and 'id_card_number' in data else '' }}">
    <lable>Metric Student Nme</lable>
<input type="text" name="matric_student_name" value="{{ data.matric_student_name if data and 'matric_student_name' in data else '' }}">
<lable>Metric Father Nme</lable>

<input type="text" name="matric_father_name" value="{{ data.matric_father_name if data and 'matric_father_name' in data else '' }}">
<lable>Metric Board Nme</lable>

<input type="text" name="matric_board_name" value="{{ data.matric_board_name if data and 'matric_board_name' in data else '' }}">
<lable>Metric DOB</lable>

<input type="text" name="matric_dob" value="{{ data.matric_dob if data and 'matric_dob' in data else '' }}">
<lable>Metric Obtain Marks</lable>

<input type="text" name="matric_obtain_marks" value="{{ data.matric_obtain_marks if data and 'matric_obtain_marks' in data else '' }}">
<lable>Metric Total Marks</lable>

<input type="text" name="matric_total_marks" value="{{ data.matric_total_marks if data and 'matric_total_marks' in data else '' }}">
<lable>FSC Board Name</lable>

<input type="text" name="fsc_board_name" value="{{ data.fsc_board_name if data and 'fsc_board_name' in data else '' }}">
<lable>FSC Obtain Marks</lable>

<input type="text" name="fsc_obtain_marks" value="{{ data.fsc_obtain_marks if data and 'fsc_obtain_marks' in data else '' }}">
<lable>FSC Total Marks</lable>

<input type="text" name="fsc_total_marks" value="{{ data.fsc_total_marks if data and 'fsc_total_marks' in data else '' }}">


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Insert Data</button>
        </div>
    </div>
  </form>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="{{ url_for('main') }}" class="btn btn-primary">Back to Extract Text</a>
    </div>
  </div>

</div>
</body>
</html>
